/* signup ======= */

:root {
    --signup-text-color: #ffffff;
    --signup-background-color: #ffffff;
    --signup-button-background-color: #dddddd;
    --signup-button-background-color-hover: #dddddd;
    --signup-button-color: #ffffff;
}

.signup {
    height: 92vh;
    width: 100%;
}

.signup .signup-form {
    background-image: url('../../Assests/bg-image.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Heading */
.signup .signup-form h1 {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 20px;
    color: var(--signup-text-color);
}

/* Form */
.signup .signup-form .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup .signup-form .form input {
    margin: 5px;
    border-radius: 5px;
    border: black 1px solid;
    padding: 7px 10px;
    outline: none;
    width: 80%;
    text-size-adjust: 10px;
}

.signup .signup-form .form label {
    margin-top: 4px;
}

.signup .signup-form .form p {
    font-size: 14px;
    color: var(--signup-text-color);
}
.signup .signup-form .form p a {
    color: var(--signup-text-color);
    text-decoration: none;
}
.signup .signup-form .form p a:hover {
    text-decoration: underline;
}

/* Button login */
.signup .signup-form .form .signup-btn {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background-color: blue;
    color: var(--login-button-color);
    font-size: 20px;
}
.signup .signup-form .form .signup-btn:hover {
    background-color: rgb(48, 48, 176);
}

.background-signup {
    height: 80vh;
    width: 425px;
    background-color: #ffffff2e;
    border-radius: 16px;
    padding: 0px 0px;
    margin: 140px 0px;
}
@media  (max-width: 700px){
    
}