/* LOGIN ===== */

:root {
    --login-text-color: #ffffff;
    --login-background-color: #ffffff;
    --login-button-background-color: #dddddd;
    --login-button-background-color-hover: #dddddd;
    --login-button-color: #ffffff;
}

.login {
    background-image: url('../../Assests/bg-image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

/* Heading */
.login .form-login h1 {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 15px;
    color: var(--login-text-color);
}

/* Form */
.login .form-login .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login .form-login .form label {
    color: var(--login-text-color);
}
.login .form-login .form input {
    margin: 5px;
    border-radius: 5px;
    border: black 1px solid;
    padding: 7px 10px;
    outline: none;
    width: 80%;
}
.login .form-login .form label {
    margin-top: 10px;
}

.login .form-login .form p {
    font-size: 14px;
    color: var(--login-text-color);
}
.login .form-login .form p a {
    color: var(--login-text-color);
    text-decoration: none;
}
.login .form-login .form p a:hover {
    text-decoration: underline;
}
/* Button login */
.login .form-login .form .login-btn {
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    background-color: blue;
    color: var(--login-button-color);
    font-size: 22px;
}
.login .form-login .form .login-btn:hover {
    background-color: rgb(48, 48, 176);
}

.form-login .background-login {
    height: 550px;
    width: 400px;
    border-radius: 16px;
    background-color: #ffffff20;
}



/* Responsive Styles */
@media screen and (max-width: 768px) {
    /* Adjust font sizes and padding for smaller screens */
    .form-login h1 {
        font-size: 1.8rem;
        margin-top: 20px;
    }

    .form-login .form input {
        padding: 8px;
        font-size: 1rem;
    }

    .form-login .form .login-btn {
        padding: 10px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    /* Extra small devices (phones) */
    .form-login {
        width: 100%;
        max-width: 320px; /* Smaller max-width */
        padding: 10px;
    }

    .form-login h1 {
        font-size: 1.6rem;
    }

    .form-login .form label, 
    .form-login .form input, 
    .form-login .form .login-btn {
        font-size: 0.9rem;
    }
}
